{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form, {
        'attr': { 'id': 'search-form', 'data-target': 'search.form' }
    }) }}
    <fieldset role="group">

        <div class="field">
            {{ form_row(form.q) }}
        </div>
        {# </fieldset> #}
        {# <fieldset role="group"> #}
        <div class="field">
            <label>Threshold</label>
            {{ form_widget(form.threshold) }}
            {#        </div> #}
            {#        <div class="field"> #}
            {#            <label>Max Price: <span data-search-target="maxValue">{{ form.max.vars.value ?: form.max.vars.attr.max }}</span></label> #}
            {#            {{ form_widget(form.similiarityRation) }} #}
            {#        </div> #}
            {{ form_rest(form) }}
        </div>
    </fieldset>

    <button type="submit">Search</button>
    {{ form_end(form) }}

    {% for product in results.hits|default([]) %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-header bg-white d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">{{ product.title }}</h5>
                    <span class="badge bg-primary">Score {{ (product._rankingScore*100)|number_format(1) }}</span>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ product.description }}
                        {% for tag in product.tags %}
                            <span class="badge bg-primary me-1">{{ tag }}</span>
                        {% endfor %}

                    </p>
                    {% if product.brand|default(false) %}
                    <p class="mb-1"><strong>Brand:</strong> {{ product.brand }}</p>
                    {% endif %}
                    <p class="mb-2"><strong>Category:</strong> {{ product.category }}</p>
                </div>
            </div>
        </div>
    {% endfor %}


    <ul class="list-unstyled">
        {# Loop through each product and render only title, description, category, brand, price #}
        {% for product in results.hits|default([]) %}
            <li class="cardx">
                <h2>{{ product.title }}</h2>
                <div>
                    {{ product.description }}
                    <p><strong>Category:</strong> {{ product.category }}</p>
                    {% if product.brand|default(false) %}
                        <strong>Brand:</strong> {{ product.brand }}
                    {% endif %}
{#                <p><strong>Price:</strong> ${{ product.price }}</p>#}
                <ul class="list-inline">
                    {% for tag in product.tags %}
                        <li class="list-inline-item">

                <span class="badge">
                            {{ tag }}
                        </span>
                        </li>
                    {% endfor %}
                </ul>
                </div>

            </li>
        {% endfor %}
    </ul>


{% endblock %}
