{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form, {
        'attr': { 'id': 'search-form', 'data-target': 'search.form' }
    }) }}
    <fieldset role="group">

        <div class="field">
            {{ form_row(form.q) }}
        </div>
        {# </fieldset> #}
        {# <fieldset role="group"> #}
        <div class="field">
            <label>Threshold</label>
            {{ form_widget(form.threshold) }}
            {#        </div> #}
            {#        <div class="field"> #}
            {#            <label>Max Price: <span data-search-target="maxValue">{{ form.max.vars.value ?: form.max.vars.attr.max }}</span></label> #}
            {#            {{ form_widget(form.similiarityRation) }} #}
            {#        </div> #}
            {{ form_rest(form) }}
        </div>
    </fieldset>

    <button type="submit">Search</button>
    {{ form_end(form) }}


    <ul class="list-unstyled">
        {# Loop through each product and render only title, description, category, brand, price #}
        {% for product in results.hits|default([]) %}
            <li class="cardx">
                <h2>{{ product.title }}</h2>
                <div>
                    {{ product.description }}
                    <p><strong>Category:</strong> {{ product.category }}</p>
                    {% if product.brand|default(false) %}
                        <strong>Brand:</strong> {{ product.brand }}
                    {% endif %}
{#                <p><strong>Price:</strong> ${{ product.price }}</p>#}
                <ul class="list-inline">
                    {% for tag in product.tags %}
                        <li class="list-inline-item">

                <span class="badge">
                            {{ tag }}
                        </span>
                        </li>
                    {% endfor %}
                </ul>
                </div>

            </li>
        {% endfor %}
    </ul>


{% endblock %}
